<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zhongshan.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>55A055A55A7B281AA75E975C73D39C2372A668F0</string>
				<key>dateExpires</key>
				<string>2019/2/9</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>TCHK9N4NLS.com.bsoft.mhealthp.wuhan</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>TCHK9N4NLS</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>zhongshan.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4a8ad444-8482-4c88-878e-1cc1ed1a90cf</string>
				<key>name</key>
				<string>dis_wuhan_health_bsoft</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TCHK9N4NLS</string>
				<key>name</key>
				<string>Health and Family Planning Commission of Wuhan Municipality</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
